@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: white;
    color: #111111; 
}
/*==menu==*/
header {
    width: 940px; /*largura igual a do conteúdo abaixo o main*/
    margin: 0 auto; /*centralizar*/
}
nav .menu a {
    position: relative; /*propriedade usada para mover o menu*/
    top: 15px; /*mover 15 de distancia do topo*/
    left: 220px; /*mover 220 de distancia da esquerda da página*/
    text-decoration: none; /*retirar o sublinhado do link*/
    margin-left: 30px; /*separar os links 30 de distancia */
    color: #111111; /*mudar a cor da fonte*/
    line-height: 19px; /*altura da linha do texto*/
    
}
.logo {
    position: relative; /*movimentar a imagem em relação ao menu*/
    bottom: 5px; /*propriedade do relative*/
    left: 15px; /*propriedade do relative*/
}
/*---main---*/
.main {
    background: #FBDFDB;
    width: 940px;
    height: 366px;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;
}
.main img {
    position: absolute;
    right: 100px;
    bottom: 1px;
}
.main h1{
    position: absolute; 
    top: 117px;
    left: 60px;
}
.main p {
    position: relative;
    top: 165px;
    left: 60px;
    font-size: 18px;
}
/*===cards====*/
article h2 {
    margin: 50px 240px;
}

.cards {
    max-width: 940px; /*largura máxima*/
    margin: 0 auto; /*centraliza*/
    display: grid; /*cria uma tabela*/
    grid-template-columns: 1fr 1fr 1fr; /*tres colunas proporcionais*/
}
.card p {
    font-size: 14px;
    margin-top: 15px;
    line-height: 16px;
    color: #777777;
}
.card img {
    width: 300px; /*largura da imagem*/
    height: 140px; /*altura da imagem*/
    border-radius: 15px; /*arredondar a borda*/
    margin: 10px; /*aplicar 10px em todos os lados*/
}
/*footer*/
footer {
    background: #eeeeee;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #999999;
    margin-top: 20px; /*distanciar da parte de cima*/
    padding: 20px; /*engordar o rodape*/
}